<ion-content [fullscreen]="true" class="register-bg">
  <div class="container">
    <!-- Logo -->
   <div class="logo-section">
      <img src="assets/logoGroup.png" alt="Cubic33 Group" class="logo">
      <!-- <p class="welcome-subtitle">Ingresa tus credenciales para ingresar</p> -->
    </div>

    <!-- Formulario de Registro -->
    <div class="register-form">
      <h2 class="form-title">Create new Account</h2>
      <p class="form-subtitle">Complete your registration to get started</p>

      <div class="field">
        <label>Email</label>
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            placeholder="your@email.com">
          </ion-input>
        </ion-item>
      </div>

      <div class="field">
        <label>Password</label>
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input 
            type="password" 
            [(ngModel)]="password" 
            placeholder="Minimum 8 characters">
          </ion-input>
        </ion-item>
      </div>

      <div class="field">
        <label>Password Confirm</label>
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input 
            type="password" 
            [(ngModel)]="passwordConfirm" 
            placeholder="Repeat your password">
          </ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" class="primary-btn" [disabled]="loading" (click)="register()">
        {{ loading ? 'Signing up...' : 'Sign up' }}
      </ion-button>

      <div class="foot">
        <span>Already have an account?</span> 
        <a class="link" (click)="goToLogin()">Log in</a>
      </div>

      <ion-text color="danger" class="error-message" *ngIf="error">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ error }}
      </ion-text>
    </div>
  </div>
</ion-content>