<ion-content [fullscreen]="true" class="login-bg">
  <div class="login-wrapper">

    <!-- Logo pequeño arriba -->
    <div class="brand">
      <img class="brand-logo" src="assets/logoGroup.png" alt="CUBIC33" />
    </div>

    <!-- Card -->
    <div class="login-card">
      <p class="login-subtitle">Recover password</p>

      <div class="form">

        <label class="field-label">Email:</label>
        <div class="input-row">
          <div class="input-icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <input
            class="text-input"
            type="email"
            inputmode="email"
            autocomplete="email"
            placeholder="pedro@example.com"
            [(ngModel)]="email"
          />
        </div>

        <p class="helper">
          <!-- Te enviaremos un código de 6 dígitos y un enlace para cambiar tu contraseña. -->
           We will send you a 6-digit code and a link to change your password
        </p>

        <button class="primary-btn" (click)="submit()" [disabled]="loading">
          {{ loading ? 'Sending...' : 'Send Link' }}
        </button>

        <a class="link-back" (click)="goBack($event)">Back to login</a>

      </div>
    </div>

  </div>
</ion-content>
