<ion-content [fullscreen]="true" class="login-bg">
  <div class="container">
    <!-- Logo -->
    <div class="logo-section">
      <img src="assets/logoGroup.png" alt="Cubic33 Group" class="logo">
      <!-- <p class="welcome-subtitle">Ingresa tus credenciales para ingresar</p> -->
    </div>

    <!-- Formulario de Login -->
    <div class="login-form">
      <div class="field">
        <label>Email:</label>
        <ion-item lines="none" class="input-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input 
            type="email" 
            [(ngModel)]="email" 
            placeholder="marketing@cubic33group.com">
          </ion-input>
        </ion-item>
      </div>

      <div class="field">
        <label>Password:</label>
        <ion-item lines="none" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input 
            type="password" 
            [(ngModel)]="password" 
            placeholder="••••••••">
          </ion-input>
        </ion-item>
      </div>

 <div class="row remember-row">
  <div class="remember-left">
    <ion-checkbox [(ngModel)]="remember"></ion-checkbox>
    <span class="remember-text">Remember me</span>
  </div>


</div>


      <ion-button expand="block" class="primary-btn" [disabled]="loading" (click)="submit()">
        {{ loading ? 'Logging in' : 'Login' }}
      </ion-button>

      <div class="foot">
  <span>new User?
  <a class="link" (click)="goToRegister()">Sign up here</a></span>

      <a class="link forgot-link" (click)="goToPasswordReset($event)">
        forgot password?
      </a>
    </div>


      <ion-text color="danger" class="error-message" *ngIf="error">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ error }}
      </ion-text>
    </div>
  </div>
</ion-content>